<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon color = "success"name="flash"></ion-icon>
      <ion-label color = "success">Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon color = "success" name="apps"></ion-icon>
      <ion-label color = "success">Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon color = "success" name="send"></ion-icon>
      <ion-label color = "success">Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
        <ion-icon  color = "success" name="airplane"></ion-icon>
        <ion-label color = "success">Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
        <ion-icon color = "success" name="person"></ion-icon>
        <ion-label color = "success">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
