.welcome-card ion-img {
  max-height: 100vh;
  max-width: 50vw;
  // overflow: hidden;
}


:host {
  ion-content {
    --background: url('https://static1.squarespace.com/static/54075c70e4b06b763c2d9542/5acf84022b6a28b29971dad9/5acf8402575d1f0b6ee5ab09/1523549460905/Florito+Interior+Design.jpg?format=2500w') no-repeat center center / cover;

  }
}
// :root {
 
//   --margin: rgba(255, 253, 253, 0.8);

// }
#navbar {
  float: left;

}

// #whiteFade {
//   width: 30%;
//   height: 100%;
//   color: white;
//   opacity: 0.2;
//   position: absolute;
//   top: 0px;
//   left: 0px;
// }


.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
  color: #99ab12;
  font-family: Montserrat-Medium;
}
// .picker-md .picker-opt {
//     color: map-get($colors,grisclair);
//     font-family: Montserrat-Light;
// }

.picker-md .picker-button,
.picker-md .picker-button.activated {
  color: rgb(129, 32, 32);
  font-family: Montserrat-Regular;
}
