<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class = "ion-padding">
        <ion-avatar>
            <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-1/p320x320/53817047_587622905069951_2038057819852242944_n.jpg?_nc_cat=109&_nc_ht=scontent.fopo2-1.fna&oh=d2b5c73a38f7016ea7826695c2787907&oe=5D563CFA">
        </ion-avatar>
    </div>
    <ion-list clas = "ion-padding">
        <ion-item>
            <ion-label>About</ion-label>
            <ion-list lines="none">
                <ion-item>Lives in San Francisco</ion-item>
                <ion-item>Studies at WashU</ion-item>
                <ion-item>5-Star Rated Renter</ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
                <ion-label>Contact Me</ion-label>
        </ion-item>
    </ion-list>
        
</ion-content>
